@charset "utf-8";
/* CSS Document */





........
@font-face {
  font-family: 'DroidSans-Bold';
  src: url('../fonts/DroidSans-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/DroidSans-Bold.woff') format('woff'), url('../fonts/DroidSans-Bold.ttf')  format('truetype'), url('../fonts/DroidSans-Bold.svg#DroidSans-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
  
}
@font-face {
  font-family: 'Quicksand-Regular';
  src: url('../fonts/Quicksand-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/Quicksand-Regular.otf')  format('opentype'),
	     url('../fonts/Quicksand-Regular.woff') format('woff'), url('../fonts/Quicksand-Regular.ttf')  format('truetype'), url('../fonts/Quicksand-Regular.svg#Quicksand-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  
}
@font-face {
  font-family: 'DroidSans';
  src: url('../fonts/DroidSans.eot?#iefix') format('embedded-opentype'),  url('../fonts/DroidSans.woff') format('woff'), url('../fonts/DroidSans.ttf')  format('truetype'), url('../fonts/DroidSans.svg#DroidSans') format('svg');
  font-weight: normal;
  font-style: normal;
 
}
@font-face {
  font-family: 'Quicksand-Light';
  src: url('../fonts/Quicksand-Light.eot?#iefix') format('embedded-opentype'),  url('../fonts/Quicksand-Light.otf')  format('opentype'),
	     url('../fonts/Quicksand-Light.woff') format('woff'), url('../fonts/Quicksand-Light.ttf')  format('truetype'), url('../fonts/Quicksand-Light.svg#Quicksand-Light') format('svg');
  font-weight: normal;
  font-style: normal;
  
}
@font-face {
  font-family: 'ARDECODE';
  src: url('../fonts/ARDECODE.eot?#iefix') format('embedded-opentype'),  url('../fonts/ARDECODE.woff') format('woff'), url('../fonts/ARDECODE.ttf')  format('truetype'), url('../fonts/ARDECODE.svg#ARDECODE') format('svg');
  font-weight: normal;
  font-style: normal;
 
}


body{ margin:0px; padding:0px;}
.header{ overflow:hidden; background:#2a2e33;}
.container{ margin:0px auto; overflow:hidden; width:1180px;}
.hotal{  overflow:hidden; float:left;}
.header .hotal .hotal-logo{overflow:hidden; width:385px; float: left;  }
.header .hotal .hotal-logo h1{ font-size:30px; color:white;font-family: 'DroidSans-Bold'; float:left;line-height: 99px;margin: 0px; }
.header .hotal .hotal-logo h1 span{font-size:30px; color:#ffd700;font-family: 'DroidSans-Bold'; padding-right:12px;line-height: 99px;margin: 0px; }
.header .hotal .hotal-logo h4{margin: 0px;font-size:14px; color:white;font-family:'Quicksand-Regular'; line-height: 99px;   }
.hotal .hotal-logo-left{    margin-left: 107px; overflow:hidden; float:left; width:662px;}
.hotal .hotal-logo-left ul{ overflow:hidden; margin:0px;}
.hotal .hotal-logo-left ul li{ list-style-type:none;border-top: 2px solid #2a2e33; padding:0px 13px;float:left;}
.hotal .hotal-logo-left ul li:first-child{border-top:2px solid #ffd700;}
.hotal .hotal-logo-left ul li:hover{ background:#1e2329; border-top:2px solid #ffd700;}
.hotal .hotal-logo-left ul li a{ text-decoration:none;line-height: 99px; font-size:13px; color:white;        }

.content{ background:#00ccff; overflow:hidden;}
.content-block{    padding-bottom: 80px; position: relative;  overflow:hidden;}
.content-block h3{ padding-top:65px; text-align:center;   font-size:30px; color:#FFFFFF; font-family: 'DroidSans-Bold'; margin:18px 0px;}
.content-block h3 span{padding-top:50px;  text-align:center; font-size:30px; color:#FFFFFF; font-family:'Quicksand-Regular';}
.content-block h2{ margin:30px 0px; text-align:center; font-size:60px; color:#FFFFFF; font-family: 'DroidSans-Bold';}
.content-block h4{ text-align:center; font-size:30px; color:#FFFFFF; font-family: 'Quicksand-Regular'; margin:30px 0px 46px 0px;}
#one{ width:466px; margin-left:352px;}
#two{ width:350px;margin-left:411px;}
.content-bg{ border-bottom: 1px solid #949698; padding-bottom:37px; background:url(../images/bgone.png) left no-repeat; position:relative;}
.content-sub{overflow: hidden;position: absolute;background: #2a2e33;width: 1020px;margin-left: 78px;top: -52px;}
.content-sub .content-middle{ overflow:hidden; float:left; padding-left:14px; padding-top:12px; padding-bottom:20px; width:241px;}
.content-middle h6{ color:#ffd700; font-size:18px; margin:0px;font-family: 'Quicksand-Light';}
.dates{border:none;  width:235px;font-family: 'Quicksand-Light'; color:#2a2e33; font-size:18px; border-radius:8px;line-height:42px; }
.dates-one{border:none; width:235px;font-family: 'Quicksand-Light'; color:#2a2e33; font-size:18px;border-radius:8px;line-height:42px; }
.dates-two{border:none; width:235px;font-family: 'Quicksand-Light'; color:#2a2e33; font-size:18px;border-radius:8px;line-height:42px; }
.dates-three{border:none; width:174px;font-family: 'DroidSans-Bold'; border-radius:8px;color:#2a2e33; background:#ffd700; font-size:18px; border:none;     margin-top: 21px; line-height:42px; text-align:center;}
.package{ overflow:hidden; padding-bottom:50px;padding-top:86px;}
.package h2{ margin:0px;  font-family: 'ARDECODE'; font-size:60px; color:#2a2e33;text-align:center;}
.package p{margin:0px;  font-family:'Quicksand-Regular' ;font-size:14px; color:#2a2e33;text-align:center;}
.circles{overflow:hidden; margin:0px; }
.cir{ padding-left:107px;}
.arrows-l{     padding-bottom: 63px;}
.arrows-r{padding-bottom: 60px;     padding-left: 90px;}
.our-rooms{ background:url(../images/bglong.png) left no-repeat; }
.rooms{overflow:hidden;}
.room-type{ overflow:hidden;}
.room-types h2{ margin:0px;  font-family: 'ARDECODE'; font-size:60px; color:#2a2e33;text-align:center; padding-top:22px; padding-bottom:34px; }
.room-type .singleroom{ width:380px; overflow:hidden; padding-right:20px; float:left;}
.singleroom h3{padding-left: 53px; font-size:24px; color:#2a2e33;font-family:'Quicksand-Regular' ;    margin-bottom: 0px; margin-top:9px;}
.singleroom h6{font-size:12px; color:#2a2e33; font-family:'Quicksand-Regular' ; margin:0px; padding:12px 0px 15px 7px;}
.singleroom .avilabule { padding-bottom:30px; overflow:hidden; float:left; margin-left:111px;}
.avilabule img{ float:left; padding-right:7px;}
.room-type .familyroom{ width:380px; overflow:hidden;  float:right;}
.familyroom h3{padding-left: 53px; font-size:24px; color:#2a2e33;font-family:'Quicksand-Regular' ;    margin-bottom: 0px; margin-top:9px;}
.familyroom h6{font-size:12px; color:#2a2e33; font-family:'Quicksand-Regular' ; margin:0px; padding:12px 0px 15px 7px;}
.familyroom .avilabule { padding-bottom:30px; overflow:hidden; float:left; margin-left:111px;}
.avilabule img{ float:left; padding-right:7px;}
.room-type .Standardrooms{width:380px; padding-bottom:65px; overflow:hidden;  float:left; padding-right:20px;}
.Standardrooms h3{padding-left: 53px; font-size:24px; color:#2a2e33;font-family:'Quicksand-Regular' ;    margin-bottom: 0px; margin-top:8px;}
.Standardrooms h6{font-size:12px; color:#2a2e33; font-family:'Quicksand-Regular' ; margin:0px; padding:12px 0px 15px 7px;}
.Standardrooms .avilabule { padding-bottom:30px; overflow:hidden; float:left; margin-left:111px;}
.avilabule img{ float:left; padding-right:7px;}
.room-type .VIProoms{ width:380px;padding-bottom:65px;  overflow:hidden;  float:right;}
.VIProoms h3{padding-left: 53px; font-size:24px; color:#2a2e33;font-family:'Quicksand-Regular' ;    margin-bottom: 0px; margin-top:8px;}
.VIProoms h6{font-size:12px; color:#2a2e33; font-family:'Quicksand-Regular' ; margin:0px; padding:12px 0px 15px 7px;}
.VIProoms .avilabule { padding-bottom:30px; overflow:hidden; float:left; margin-left:111px;}
.avilabule img{ float:left; padding-right:7px;}
.shadow-bg{ background:#e7cb2c; position:relative;}
.hotal-citys{ overflow:hidden; float:left; width:880px;}
.hotal-citys h2{ color:#ffffff; font-size:48px; font-family:'Quicksand-Regular' ; margin:0px;    padding: 39px 0px 29px 0px;}
.hotal-citys h3{  color:#ffffff; font-size:18px; font-family:'Quicksand-Regular' ; margin:0px; padding-bottom: 40px;}
.man-shadow {     float: left; position: absolute; bottom: -5px; width: 300px; right:50px;}
.footer{ background:#333333; border-bottom:35px solid #1f1f1f;}
.hotal-dtls { overflow:hidden; width:221px; float:left; padding-right:20px;padding-bottom:117px;}
.hotal-dtls h2{ font-size:18px; color:#ffffff; font-family: 'DroidSans'; margin:15px 0px;}
.hotal-dtls p{font-size:12px; color:#ffffff;font-family:'Quicksand-Regular' ; }
.hotal-news{ float:left; width:221px; overflow:hidden;padding-bottom:117px;}
.hotal-news h2{font-size:18px; color:#ffffff; font-family: 'DroidSans';margin:15px 0px;}
.hotal-news p{font-size:12px; color:#ffffff;font-family:'Quicksand-Regular' ; margin-bottom:0px;    margin-top: 6px;}
.hotal-news h6{ color:#e7cb2c; font-size:10px;font-family: 'Quicksand-Light'; margin:0px;}
.htl-dlx{ width:465px; overflow:hidden; float:left;padding-bottom:117px; }

.htl-dlx h2{font-size:18px; color:#ffffff; font-family: 'DroidSans';margin:15px 0px;}
.htl-dlx p{font-size:12px; color:#ffffff;font-family:'Quicksand-Regular' ;}
.htl-dlx h6{ color:#ffffff; font-size:12px;font-family:'Quicksand-Regular' ; margin:0px;}
.htl-dlx h4{ font-size:12px; width:103px; border:1px solid #e7cb2c; color:#1e1e1e; background:#e7cb2c;font-family: 'DroidSans-Bold'; line-height:28px; border-radius:4px; text-align:center;margin:15px 0px;}
.long-last{float:right; width:221px; overflow:hidden; padding-bottom:117px;}
.last h2{font-size:18px; color:#ffffff; font-family: 'DroidSans'; margin:15px 0px;}
.last h6{font-size:12px; color:#ffffff;font-family:'Quicksand-Regular' ; margin-bottom:7px;margin-top: 4px;}
.last input{ width:200px; border:2px solid #242424; border-radius:4px; height:24px; background:#242424}
.last-lt h3{font-size:12px; width:103px; border:1px solid #e7cb2c; color:#1e1e1e; background:#e7cb2c;font-family: 'DroidSans-Bold'; line-height:28px; border-radius:4px; text-align:center;margin: 5px 0px 0px 0px; }
#arrows-r {padding-bottom:60px;padding-left:62px;}
.circles img{ padding-left:36px;}
#arrows-l {padding-right:0px;padding-bottom:60px;}

    
}


@media only screen and (min-width:992px) and (max-width:1199px){
.container{width:100%;}
.hotal{width:100%;}
.header .hotal .hotal-logo{width: 30%;}
.header .hotal .hotal-logo h4{display:none;}
.hotal .hotal-logo-left{width:70%;margin-left:0px;}
.hotal .hotal-logo-left ul li a{padding-right:0px;font-size:10px;}
.content-block{ width:100%;}
#one{width: 55%;margin-left: 220px;} 
#two{width: 40%;margin-left:289px;}
.dates{width:90%;font-size:15px;}
.content-sub {width:100%;margin:0px;}
.content-sub .content-middle {width:22%;}
.dates-one{ width:90%;font-size:16px;}
.content-bg{background: url(../images/bgone.png) left repeat;width: 100%;}
.cir {padding-left:43px;}
.our-rooms {background: url(../images/bglong.png) left repeat;}
.room-type{width:100%;}
.room-type .singleroom	{width:30%;margin-right: 10px;}
.singleroom .avilabule{padding-bottom:20px;margin-left:80px;}
.singleroom h6{padding: 6px 0px 10px 0px;}
.singleroom h3{padding-left:20px;font-size: 23px;}
.room-type .familyroom {width:33%;float:left;}
.familyroom h6{padding: 5px 0px 0px 26px;}
.familyroom .avilabule{margin-top:13px;}
.Standardrooms h3{font-size:22px;}
.room-type .Standardrooms{ width:31%; margin-right:10px;}
.room-type .VIProoms{width:31%;float:left;}
.room-type .VIProoms vip{ width: 123%;}
.shadow-bg{width:100%;}
.hotal-citys{width:62%;}
.hotal-citys h2{font-size:39px;}
.hotal-citys h3{font-size:15px;}
.man-shadow{width:30%;right:-46px;}
.man-shadow img{width:93%;}
.hotal-dtls h2{font-size:15px;}
.footer{width:100%;}
.hotal-dtls {width:16%;margin-left: 12px;}
.hotal-dtls h2{font-size:15px;}
.hotal-news{width:16%;}
.htl-dlx {width:41%;}
.long-last{width:21%;}

}

@media only screen and (min-width:768px) and (max-width:991px){
.container{width:100%;}
.hotal{width:100%;}
.header .hotal .hotal-logo{width:30%;}
.header .hotal .hotal-logo h4{display:none;}
.hotal .hotal-logo-left{width:70%;margin-left:0px;}
.hotal .hotal-logo-left ul li a{padding-right: 0px;font-size: 10px;}
.content-block{ width:100%;}
.content-block h3{}
.content-block h3 span{}
.content-block h2{}
.content-block h4{}
#one{margin-left: 124px;width:; }
#two{margin-left: 168px;width:; }
.content-sub{ width:100%; margin-left:0px;}
.content-sub .content-middle{width:23%;}
.dates{width:97%;}
.dates-one{width:96%;font-size:16px;}
.dates-two{width:94%;font-size:16px;}
.package p{font-size:12px;}
.package h2{font-size:50px;}
.cir{padding-left:0px;}
#arrows-r {padding-left:0px;width:6%;}
#arrows-l{width:7%;padding-right: 4px;}
.circles img{padding-left: 0px;}
.circles{width:100%;}
.room-types h2{font-size:55px;padding-top:15px;padding-bottom:20px;}
.room-type{width:100%;}
.room-type .singleroom{width:31%;padding-right:6px;}
.room-type .singleroom img{ width:100%;}
.singleroom h3{font-size:16px;}
.singleroom .avilabule img{ width:12%;}
.singleroom .avilabule {margin-left:72px;}
.familyroom h3 {font-size:17px;}
.familyroom img{ width:100%;}
.room-type .familyroom{width:31%;float:left;}
.familyroom .avilabule{margin-left: 70px;}
.familyroom .avilabule img{ width:12%;}

.room-type .Standardrooms{width:31%;padding-right:6px;}
.room-type .Standardrooms img{ width:100%;}
.Standardrooms h3{font-size:16px;}
.Standardrooms .avilabule img{ width:12%;}
.Standardrooms .avilabule {margin-left:72px;}
.VIProoms h3 {font-size:17px;}
.VIProoms img{ width:100%;}
.room-type .VIProoms{width:31%;float:left;}
.VIProoms .avilabule{margin-left: 70px;}
.VIProoms .avilabule img{ width:12%;}
.shadow-bg{width:100%;}
.hotal-citys{width:62%;}
.hotal-citys h2{font-size:30px;}
.hotal-citys h3{font-size:11px;}
.man-shadow{width:33%;right:-9px;}
.man-shadow img{width: 100%;}
.hotal-dtls h2{font-size:15px;}
.footer{width:100%;}
.hotal-dtls {width:16%;margin-left: 12px;}
.hotal-dtls h2{font-size:15px;}
.hotal-news{width:16%;}
.htl-dlx {width:36%;}
.long-last{width:27%;}

}
@media only screen and (min-width:320px) and (max-width:767px){
.container{width:100%;}
.hotal{width:100%;}
.header .hotal .hotal-logo{width:100%;}
.header .hotal .hotal-logo h4{display:none;}
.header .hotal .hotal-logo h1{padding-left: 13px;}
.hotal .hotal-logo-left{width:100%;margin-left:0px; }
.hotal .hotal-logo-left ul{ padding-left:4px;}
.hotal .hotal-logo-left ul li{	border-top: 0px none; float:none;

background: none;}
.hotal .hotal-logo-left ul li:first-child{ border-top:none;}
.hotal .hotal-logo-left ul li a{padding-right: 0px;
font-size: 9px;float:none; line-height:30px;}
.hotal .hotal-logo-left ul li:hover{ background:none; border-top:none;}
#one{width:100%;margin-left:0px;}
.content-block h2 {font-size:35px;}
#two {width:90%;margin-left:18px;}
.content-block h2{font-size:35px;}
.content-block h4{font-size:17px;}
.content-sub{width:100%;margin:0px;}
.content-sub .content-middle{width:100%;padding-left:0px;}
.dates{width:98%;}
.dates-two {width:98%;}
.dates-one{width:98%;}
.dates-two {width:98%;}
.dates-three{width:98%;margin-top:13px;}
.package h2{font-size: 45px;}
.package p{font-size:12px;}
#arrows-l {padding:53px 18px 53px 0px;}
.circles{width:100%;padding-top: 75px;}
.cir{width:100%; padding-left:2px;}
#arrows-r { padding:53px 0px 53px 25px;}
.room-types h2 {font-size:43px;}
.room-type .singleroom{width:100%;}
.room-type .familyroom{width:100%;}
.room-type .VIProoms{ width:100%;}
.man-shadow{width:100%;}
.hotal-citys h3 {font-size:9px;}
.hotal-citys {width:99%;}
.hotal-citys h2{font-size:20px;}
.man-shadow{width:100%;right:0px; position:inherit;}
.hotal-dtls {width:100%;}
.hotal-news{width:100%;}
.htl-dlx{width:100%;}
.long-last{width:100%;}



	}
